<section id="proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
  <h5 class="seccion-descripcion">Estos son algunos proyectos que he creado recientemente...</h5>
  <!--Galeria de Proyectos-->
  <div class="container tex-center proyectos-contenedor">
    <div class="row">
      <!--Proyecto 1-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/imagenes/proyecto 5 .png" alt="proyecto 1">
          <div class="overlay">
            <p>Proyecto 1</p>
            <div class="iconos-contenedor">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Proyecto 2-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/imagenes/proyecto 2.png" alt="proyecto 2">
          <div class="overlay">
            <p>Proyecto 2</p>
            <div class="iconos-contenedor">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--Proyecto 3-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="../../../assets/imagenes/proyecto 3.png" alt="proyecto 3">
          <div class="overlay">
            <p>Proyecto 3</p>
            <div class="iconos-contenedor">
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>