<div id="colorex" class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <h1>Trabajo 1 </h1>
            <h3>(0 años)</h3>
            <p>Full Stack Developer Jr,Diseño Página Web</p>
        </ul>
        <ul>
            <h1>Trabajo 2 </h1>
            <h3>(6 años)</h3>
            <p>Diseñador Textil, Estamperia Serigráfica y sublimación</p>
        </ul>
        <ul>
            <h1>Trabajo 3 </h1>
            <h3>(10 años)</h3>
            <p>Corte y Confección Textil </p>
        </ul>
    </div>
</div>