
  <div class="row" id="color">
    <div class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <div class="navbar-brand d-flex flex-wrap align-items-center justify-content-center">
          <img class="logo" src="../assets/icono de argentina programa.svg" alt="Logo de la página web">
          <h5>"Argentina Programa #YoProgramo"</h5>
        </div>

        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center ">
          <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="mailto:usbelpablob@gmail.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope"></i>
          </a>
          <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
      </div>
    </div>
  </div>
