<div class="row">
    <h1>Hard & Soft skills</h1>
    <div  class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90"
        [radius]="100"
        [imageSrc]="' ../assets/iconos de lenguaje de programacion/html.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="65"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div  class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90"
        [radius]="100"
        [imageSrc]="' ../assets/iconos de lenguaje de programacion/css.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="65"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div  class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90"
        [radius]="100"
        [imageSrc]="' ../assets/iconos de lenguaje de programacion/angular.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="65"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div  class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90"
        [radius]="100"
        [imageSrc]="' ../assets/github.svg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div  class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90"
        [radius]="100"
        [imageSrc]="' ../assets/ingles.svg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <div  class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90"
        [radius]="100"
        [imageSrc]="' ../assets/comunicacion.svg'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
</div>
