/*barra de navegacion*/
#color {
  background-color: #94b0e8;
}
/*experiencia educacion*/
#colorex {
  background-color: #f5f6f7;
}
.logo{
  width: 90px;
  padding: 0px 20px 0px 20px;
  border-radius: 10%;
}

/*estilos generales*/


div.sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Tangerine', cursive;
  font-family: 'Rubik Dirt', cursive;
  font-family: 'Cormorant Garamond', serif;
}
h5 {
  font-weight: bold;
  padding: 2px;
  color: white;
}

.titulo {
  font-size: 2rem;
  padding:15px 0;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

.descripcion {
  font-size: 1.2rem;
  color: #161515;
  padding: 30px 30px 50px;
  text-align: center;
}

.texto {
  font-size: 1.2rem;
  padding:15px;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;

}

.texto-negro {
  color: white;
}

.texto-blanco {
  color: black;
 
}

/*header*/

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 1rem;
  margin: 0px;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px;
}
.hero-principal h2 {
font-size: 1.5rem;
color: #615151;
}

/* acerca de */
.sobre-mi {
  height: 400px;
  padding: 0px;
  background-color: #f5f6f7;
  width: 100%;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/*Proyectos*/

#proyectos {
  background-color: #f5f6f7;
}

.proyectos-recientes {
  padding: 20px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.overlay {
  transition: all 0.2 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
 font-size: 15px;
 font-weight: bold;
 margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2; 
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 30px;
  margin: 10px;
  
}
.iconos-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* pie de pagina (footer) */
footer {
  min-height: 10px;
  padding: 30px;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.0rem;
  padding: 10px 10px 20px ;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales {
  margin-right: 0.5em;
}

.iconos-redes-sociales i {
  color: rgb(49, 48, 48);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(97, 75, 220);
}
.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 12px;
  color: black;
  padding: 10px;
}


/*adaptable (responsivo)*/

@media screen and (max-width: 400px) {
overlay p {
  font-size: 18px;
 }

 .overlay i {
  font-size: 40px;
 }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width:700px){
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
